:root{
    --gray: #6a717988;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Lato';
    color: white;
}

img{
    width: 100%;
}

.debug{
    border: 2px dashed green;
}
/* UTILS */
.d-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* MAIN */
main{
    /* padding: 50px; */
}
.user{
    position: relative;
    margin: 5px 3px;
    width: 180px;
}
.user .name{
    background-color: var(--gray);
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 4px 5px;
    font-size: .8rem;
}
.user .name i{
    font-size: .57rem;
}

main .view{
    justify-content: flex-end;
    padding: 5px;
}
main .view span{
    background-color: var(--gray);
    padding: 5px 7px;
    margin: 03px;
    border-radius: 5px;
}
